# This project uses pipenv only to manage the development environment.
# Actual package dependencies are tracked in setup.py.

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Packages required for custom builds and testing
awscli = "*"
boto3 = "*"
botocore = "*"
cfn-lint = ">=0.9.0"

[dev-packages]
# Additional packages required for maintaining/releasing this project
github3-py = "*"
twine = "*"

[requires]
python_version = "3.6"
